@import "styles/constants";

.filter-bottom {
  // font-size: 1.2rem;
  // display: flex;
  width: 1537px;
}

.border {
  border-width: 1px;
  border-bottom-width: 0px;
}
.border:focus {
  outline: none;
}

.height {
  height: 32px;
  font-size: 1.2rem;
}

.filter-bottom--rank {
  // min-width: calc(#{$rank-width} - 4px);
  width: calc(#{$rank-width} - 3px);
  max-width: $rank-width;
  // width: calc(#{$rank-width} - 1px);
}
.filter-bottom--fullname {
  // min-width: $fullname-width;
  min-width: calc(#{$fullname-width} + 4px);
  max-width: $fullname-width;
  // width: calc(#{$fullname-width} - 1px);
}
.filter-bottom--email {
  // min-width: $email-width;
  min-width: calc(#{$email-width} + 2px);
  max-width: $email-width;
  // width: calc(#{$email-width} - 1px);
  justify-content: flex-start;
}
.filter-bottom--LocationName {
  // min-width: $LocationName-width;
  min-width: calc(#{$LocationName-width} + 4px);
  max-width: $LocationName-width;
  // width: calc(#{$LocationName-width} - 1px);
}
.filter-bottom--phone {
  width: calc(#{$phone-width} - 5px);
  // min-width: $phone-width;
  max-width: $phone-width;
  // width: calc(#{$phone-width} - 1px);
}
.filter-bottom--date {
  // min-width: $date-width;
  width: calc(#{$date-width} - 5px);
  font-size: 12px;
  padding-top: 3px;
  // min-width: calc(#{$date-width} - 3px);
  max-width: $date-width;
  // width: calc(#{$date-width} - 1px);
}
.filter-bottom--payment {
  // min-width: $payment-width;
  min-width: calc(#{$payment-width} + 7px);
  max-width: calc(#{$payment-width} + 17px);
  // width: calc(#{$payment-width} - 1px);
}
.filter-bottom--role {
  // min-width: $currency-width;
  min-width: calc(#{$role-width} + 48px);
  max-width: $role-width;
  display: inline-block;
  font-size: 15px;
  // width: calc(#{$currency-width} - 1px);
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
  height: 24px;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

.multiselect {
  // width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
  height: 37px;
  padding-top: 2px;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
  z-index: 1;
  background-color: #fff;
  width: 167px;
  font-size: 1.2rem;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}
