@import "styles/constants";

.filter-bottom {
  width: 1537px;
}

.border {
  border-width: 1px;
  border-bottom-width: 0px;
}
.border:focus {
  outline: none;
}

.height {
  height: 32px;
  font-size: 1.2rem;
}

.filter-bottom--rank {
  min-width: $rank-width;
  max-width: $rank-width;
}
.filter-bottom--fullname {
  min-width: calc(#{$fullname-width} + 9px);
  max-width: calc(#{$fullname-width} + 9px);
}
.filter-bottom--email {
  min-width: calc(#{$email-width} + 9px);
  max-width: calc(#{$email-width} + 9px);
  justify-content: flex-start;
}
.filter-bottom--LocationName {
  min-width: calc(#{$LocationName-width} + 10px);
  max-width: calc(#{$LocationName-width} + 10px);
  border-left-width: 0 !important;
}
.filter-bottom--role {
  min-width: calc(#{$role-width} + 1px);
  max-width: calc(#{$role-width} + 1px);
  display: inline-block;
  font-size: 15px;
}
.filter-bottom--phone {
  min-width: $phone-width;
  border-left-width: 0 !important;
  max-width: $phone-width;
}
.filter-bottom--date {
  font-size: 12px;
  padding-top: 3px;
  min-width: calc(#{$date-width} - 2px);
  max-width: calc(#{$date-width} - 2px);
}
.filter-bottom--payment {
  min-width: calc(#{$payment-width} + 10px);
  max-width: calc(#{$payment-width} + 10px);
  border-left-width: 0px;
}
.filter-bottom--activity {
  min-width: $active-width;
  max-width: $active-width;
  border-left-width: 0 !important;
  display: inline-block;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 9px;
  border: 1px solid #ddd;
  border-bottom-width: 0px;
}

ul.breadcrumb {
  width: 1337px;
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
  height: 24px;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: ">";
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
  height: 37px;
  padding-top: 2px;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
  z-index: 1;
  background-color: #fff;
  width: 167px;
  font-size: 1.2rem;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}
