@import "styles/constants";

.tableHead {
  font-size: 1.6rem;
  display: flex;
  width: 1537px;
  user-select: none;
}

.sticky {
  position: fixed;
  left: 0;
}

.display-cell-flex {
  display: flex;
  align-items: center;
}

.sorted {
  background-color: #5df38b4f;
}
.border-right {
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
.border-left {
  border-left: 1px solid #ddd;
}
.text-verflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.tableHead--rank {
  padding-left: 10px;
  min-width: calc(#{$rank-width} - 10px);
  max-width: $rank-width;
  justify-content: flex-start;
}
.tableHead--fullname {
  padding-left: 10px;
  min-width: $fullname-width;
  max-width: $fullname-width;
  justify-content: flex-start;
}
.tableHead--email {
  padding-left: 10px;
  min-width: $email-width;
  max-width: $email-width;
  justify-content: flex-start;
}
.tableHead--LocationName {
  padding-left: 10px;
  min-width: $LocationName-width;
  max-width: $LocationName-width;
  justify-content: flex-start;
}
.tableHead--role {
  min-width: $role-width;
  max-width: $role-width;
  justify-content: center;
}
.tableHead--phone {
  min-width: $phone-width;
  max-width: $phone-width;
  justify-content: center;
}
.tableHead--date {
  min-width: $date-width;
  max-width: $date-width;
  justify-content: center;
}
.tableHead--payment {
  min-width: calc(#{$payment-width} + 10px);
  max-width: $payment-width;
  justify-content: center;
}
.tableHead--activity {
  min-width: $active-width;
  max-width: $active-width;
  justify-content: center;
}

.sort-by,
.sort-byasc,
.sort-bydesc {
  position: relative;
}
.sort-by:before,
.sort-by:after,
.sort-byasc:before,
.sort-byasc:after,
.sort-bydesc:before,
.sort-bydesc:after {
  border: 4px solid transparent;
  content: "";
  display: block;
  height: 0;
  right: 5px;
  top: 50%;
  position: absolute;
  width: 0;
}
.sort-by:before,
.sort-byasc:before,
.sort-bydesc:before {
  margin-top: -9px;
}
.sort-by:after,
.sort-byasc:after,
.sort-bydesc:after {
  margin-top: 1px;
}

.sort-by:before {
  border-bottom-color: rgb(184, 184, 184);
}
.sort-byasc:before {
  border-bottom-color: rgb(0, 0, 0);
}
.sort-bydesc:before {
  border-bottom-color: rgb(184, 184, 184);
}

.sort-by:after {
  border-top-color: rgb(184, 184, 184);
}

.sort-byasc:after {
  border-top-color: rgb(184, 184, 184);
}
.sort-bydesc:after {
  border-top-color: rgb(0, 0, 0);
}
